button, input, th, td, * {
	font-size: 25px;
	border-radius: 20px;
}

a:hover,
button:hover,
input:hover,
select:hover {cursor: url("curseurs/pointer.png"), pointer;}

body {cursor: url("curseurs/default.png"), auto;}

button,
input,
select {
	background-color: #303841;
	border: 2px #ffffff solid;
	padding: 5px;
	transition: ease 0.05s;
}
button:hover,
input:hover,
select:hover {
	box-shadow: none;
	margin: 2px;
	border: 2px #e8c869 solid;
}

div {justify-content: center;}
.flex {display: flex;}
#autre {
	position: absolute;
	z-index: 15;
}

fieldset {border: 2px solid #e8c869;}

h1 {
	font-size: 60px;
	margin-right: 200px;
	margin-left: 200px;
	color: #e8c869
}

h1:hover,
h2:hover,
span:hover {cursor: url("curseurs/text.png"), text;}

h2 {
	font-size: 40px;
	margin-right: 300px;
	margin-left: 300px;
	color: #e8c869
}

hr {
	box-shadow: 0 0 2px #000000;
	height: 2px;
	background-color: #e8c869;
	border: 0;
}

img {border-radius: 0;}
.caractère {
	margin-top: 15px;
	height: 50px;
}
.haut {
	margin-top: 0;
	height: 63px;
}
.bas {
	margin-bottom: -12.5px;
	height: 63px;
}
h2 .caractère {
	margin: 9px 0 -1px 0;
	height: 30px;
}
h2 .haut {
	height: 37.8px;
}
h2 .bas {
	margin-bottom: -7.5px;
	height: 37.8px;
}
.logo {
	width: 200px;
	border: 2px solid #ffffff;
	border-radius: 40px;
}
.logo:hover {border: 2px solid #e8c869;}

span {
	font-family: gabriola;
	font-size: 30px;
	color: #000000;
}

td,
th {display: none;}

.caché {display: none;}

.important {
	position: sticky;
	bottom: 10px;
	padding: 25px;
	background-color: #005500;
}

@media (max-width: 1000px) {

* {
	font-size: 50px;
	border-radius: 50px;
	box-shadow: none;
}

button,
input,
select {
	border: 4px #ffffff solid;
	margin: 20px;
	padding: 20px;
}
button:hover,
input:hover,
select:hover {
	margin: 20px;
	border: 4px #e8c869 solid;
}

fieldset {border: 4px solid #e8c869;}

h1 {
	font-size: 120px;
	margin-right: 0;
	margin-left: 0;
}

h2 {
	margin-right: 100px;
	margin-left: 100px;
}

hr {height: 4px;}

/*.caractère {width: 90px;}*/
/*.caractère {width: 50px;}*/
.logo {width: 300px;}

.important {
	bottom: 50px;
	padding: 50px;
}

}
