* {
	text-align: center;
	font-family: "garamond", "georgia";
	font-size: 25px;
	color: #ffffff;
	border-radius: 20px;
	text-shadow: 0 0 2px #000000;
}

a {
	text-decoration: none;
	font-style: italic;
}
a:hover,
button:hover,
input:hover,
select:hover {cursor: url("curseurs/main.png"), pointer;}

body {
	background-color: #303841;
	margin: 20px;
	cursor: url("curseurs/fleche.png"), auto;
}

button,
input,
select {
	background-color: #303841;
	border: 2px #ffffff solid;
	padding: 5px;
	box-shadow: 0 0 2px #000000;
	transition: ease 0.05s;
	margin: 2px;
}
button:hover,
input:hover,
select:hover {
	box-shadow: 0 0 0;
	margin: 2px;
	border: 2px #e8c869 solid;
}

div {justify-content: center;}
.flex {display: flex;}
#autre {
	position: absolute;
	z-index: 15;
}

fieldset {border: 2px solid #e8c869;}

h1 {
	font-size: 60px;
	margin-right: 200px;
	margin-left: 200px;
	color: #e8c869
}

h1:hover,
h2:hover,
span:hover {cursor: url("curseurs/plume.png"), text;}

h2 {
	font-size: 40px;
	margin-right: 300px;
	margin-left: 300px;
	color: #e8c869
}

hr {
	box-shadow: 0 0 2px #000000;
	height: 2px;
	background-color: #e8c869;
	border: 0;
}

img {
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 0;
}
.caractère {
	margin-top: 15px;
	height: 50px;
}
.caractère[alt = "Á"], .caractère[alt = "Ä"],
.caractère[alt = "É"], .caractère[alt = "Ë"],
.caractère[alt = "Í"], .caractère[alt = "Ï"],
.caractère[alt = "Ó"], .caractère[alt = "Ö"],
.caractère[alt = "Ú"], .caractère[alt = "Ü"] {
	margin-top: 0;
	height: 63px;
}
.caractère[alt = "Ç"],
.caractère[alt = "Q"] {
	margin-bottom: -12.5px;
	height: 63px;
}
h2 .caractère {
	height: 30px;
	margin-bottom: -1px;
}
.logo {
	width: 200px;
	border: 2px solid #ffffff;
	border-radius: 40px;
}
.logo:hover {border: 2px solid #e8c869;}

span {
	font-family: gabriola;
	font-size: 30px;
	color: #000000;
}

td,
th {display: none;}

.caché {display: none;}

.important {
	position: sticky;
	bottom: 10px;
	padding: 25px;
	background-color: #005500;
}

@media (max-width: 1000px) {

* {
	font-size: 50px;
	border-radius: 50px;
	box-shadow: 0 0 0;
}

button,
input,
select {
	border: 4px #ffffff solid;
	margin: 20px;
	padding: 20px;
}
button:hover,
input:hover,
select:hover {
	margin: 20px;
	border: 4px #e8c869 solid;
}

fieldset {border: 4px solid #e8c869;}

h1 {
	font-size: 120px;
	margin-right: 0;
	margin-left: 0;
}

h2 {
	margin-right: 100px;
	margin-left: 100px;
}

hr {height: 4px;}

.caractère {width: 90px;}
.caractère {width: 50px;}
.logo {width: 300px;}

.important {
	bottom: 50px;
	padding: 50px;
}

}
