fieldset {
	width: 50%;
	margin: auto;
}

#img-catégorie {width: 75px;}

input[type = "text"] {width: 250px;}
input[type = "text"]:hover {cursor: url("../curseurs/text.png"), text;}

label {font-weight: bold;}
.filtre {font-style: italic;}
